body {
  font-size: 22px;
}

h1,
h2 {
  color: blue;
}

.gray {
  color: gray;
}

p {
  color: purple !important;
}

p {
  color: red;
}

.highlight {
  text-transform: uppercase;
  background-color: yellow;
}

#second {
  font-style: italic;
}
