@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

body {
  padding: 10%;
  font-size: 2rem;
  font-family: 'Zeyada', cursive;
}

/* input,
button {
  font: inherit;
} */

p {
  /* text-decoration: none;
  text-transform: capitalize;
  text-transform: lowercase;
  text-align: justify;
  text-indent: 2em;
  letter-spacing: 0.1em;
  word-spacing: 1em; 
  font-weight: lighter;
  font-style: oblique;*/
  line-height: 1.5;
}
